@import "normalize.scss/_normalize";

html, body {
	overflow: hidden;
}
	body {
		background: #2c3e50;
		color: #ecf0f1;
	}

h1, h2, h3 {
	font-family: 'Patrick Hand', cursive;
	font-weight: normal;
}

#ttfud-player {
	z-index: 1;
}

a {
	color: #3498db;
	&:hover {
		color: #2980b9;
	}
}

.subtitle {
	font-size: 1rem;
	margin: 0;
	text-transform: uppercase;
}
	.hearts {
		color: #e74c3c;
	}

.logo-wrapper {
	left: 1rem;
	position: fixed;
	top: 1rem;
	z-index: 4;
	width: 150px;
	.logo {
		max-height: 100%;
		max-width: 100%;
	}
}

.share-wrapper {
	bottom: 1rem;
	left: 1rem;
	position: fixed;
	z-index: 3;

	.share-items {
		list-style: none;
		margin: 0;
		padding: 0;
		> li {
			float: left;
			margin-right: 1rem;
		}
	}
}

.overlay-wrapper {
	display: none;
}
	.overlay-inner {
		background: rgba(0, 0, 0, .75);
		cursor: pointer;
		display: table;
		height: 100%;
		position: absolute;
		width: 100%;
		z-index: 2;
	}
		.overlay-heading {
			display: table-cell;
			text-align: center;
			text-transform: uppercase;
			vertical-align: middle;
		}